<% show_post ||= false %>

<div class='row'>
  <div class='span0 well text-center'>
    <% if logged_in? %>
      <p>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true),
                                         method: 'post', remote: true do %>
          <i class = 'icon-arrow-up'></i>
        <% end %>
      </p>
    <% end %>
    <p>
    <span id="comment_<%= comment.id %>_votes">
        <%= pluralize(comment.total_votes, 'vote') %>
      </span>
    </p>
    <% if logged_in? %>
      <p>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false),
                                         method: 'post', remote: true do %>
          <i class = 'icon-arrow-down'></i>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class='span8 well'>
    <p>
      <em><%= comment.body %></em>
    </p>

    <p>
      <span class='quiet'>by</span>
      <%= link_to comment.creator.username, user_path(comment.creator) %>

      <% if show_post %>
        <span class='quiet'>on</span>
        <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>

      <br />
      <small><%= comment.created_at %></small>
    </p>
  </div>
</div>
