<% if post_owner? %>
  <p class='pull-right'>
    [ <%= link_to 'edit this post', edit_post_path(@post) %> ]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<% if logged_in? %>
  <%= render 'shared/errors', obj: @comment %>
  
  <%= form_for [@post, @comment] do |f| %>
    <div class='control-group'>
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 3, class: 'span6' %>
    </div>

    <%= f.submit 'Create Comment', class: 'btn' %>
  <% end %>
  
<% end %>

<%= render 'shared/content_title', title: 'Comments' %>

<% @post.comments.each do |comment| %>
  <div class='well'>
    <p>
      <em><%= comment.body %></em>
    </p>

    <p>
      <span class='quiet'>by</span>
      <%= comment.creator.username %>
      <br />
      <small><span class='quiet'>on </span><%= comment.created_at %></small>
    </p>

  </div>
<% end %>

